:root {
    --body-background-color: rgb(227, 243, 243);
    --division-color: rgb(135, 196, 196);
    --clickable-background-color: rgb(161, 209, 209);
    --clickable-hover-background-color: rgb(108, 180, 180);
    --number-of-weeks : 5;
    --test: #0da3a1;
}

html {
    height: 100%;
  }

body {
    background-color: var(--body-background-color);
    width: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#root {
    min-height: 100vh;
}

.calendar-header {
    width: 100%;
    min-width: 950px;
    height: 70px;
    border-bottom: 1px solid var(--division-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.toggle-header-menu-container {
    height: 33px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}

.header-calendar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    height: 70px;
    justify-content: center;
    padding-right: 35px;
}

.header-dropdown-container {
    position: relative;
    width: 120px;
    font-size: 20px;
    z-index: 2;
}

.dropdown-main {
    width: 120px;
    height: 40px;
    background-color: var(--clickable-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 5px;
    transition: background-color 0.2s;
}

.dropdown-main-down-arrow {
    margin-top: 5px;
}

.dropdown-main:hover {
    background-color: var(--clickable-hover-background-color);
    cursor: pointer;
}

.header-dropdown-select {
    position: absolute;
    background-color: aliceblue;
    margin-top: 5px;
    box-shadow: -3px 3px 5px rgb(110, 110, 110);
}

.header-dropdown-select-options {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.header-dropdown-select-options:hover {
    background-color: rgb(214, 214, 214);
}

.header-signIn-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    width: calc(100% - 460px);
}

.toggle-header-menu-line {
    height: 5px;
    width: 30px;
    background-color: black;
    border-radius: 5px;
}

.header-signIn-profile-pic {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-signIn-text {
    background-color: var(--clickable-background-color);
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.2s;
}

.header-signIn-text:hover {
    background-color: var(--clickable-hover-background-color);
    cursor: pointer;
}

.header-description-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 15px;
}

.header-description-arrow-left, .header-description-arrow-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.header-description-arrow-left:hover, .header-description-arrow-right:hover {
    background-color: var(--clickable-hover-background-color);
    cursor: pointer;
}

.header-description-title {
    white-space: nowrap;
    font-size: 23px;
}




.calendar-menu {
    width: 280px;
    overflow: auto;
    height: calc(100vh - 81px);
    position: absolute;
    border-right: 1px solid var(--division-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
}

.add-event-container {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-event {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 25px;
    background-color: var(--clickable-background-color);
    transition: background-color 0.5s;
    border-radius: 25px;
    cursor: pointer;
}

.calendar-menu-divider-line {
    width: 100%;
    height: 1px;
    background-color: var(--division-color);
}

.add-event:hover {
    background-color: var(--clickable-hover-background-color);
}

.add-event-add-sign {
    padding: 0;
    margin-top: 4px;
}

.today-events-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.today-events {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 245px;
    min-height: 30px;
    max-height: 133px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
}

.today-events::-webkit-scrollbar, .color-chooser-main::-webkit-scrollbar, .calendar-menu::-webkit-scrollbar, .popup-preview-event-description::-webkit-scrollbar {
    width: 5px;
}

.today-events::-webkit-scrollbar-track, .color-chooser-main::-webkit-scrollbar-track, .calendar-menu::-webkit-scrollbar-track, .popup-preview-event-description::-webkit-scrollbar-track {
    background: transparent;
}

.today-events::-webkit-scrollbar-thumb, .color-chooser-main::-webkit-scrollbar-thumb, .calendar-menu::-webkit-scrollbar-thumb, .popup-preview-event-description::-webkit-scrollbar-thumb {
    background: var(--clickable-hover-background-color);
    border-radius: 4px;
}

.today-events-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    white-space: nowrap;
    width: 240px;
    font-size: 15px;
}

.today-events-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.today-events-item-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.today-events-item-name {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.today-events-divider-line {
    width: 240px;
    height: 1px;
    background-color: var(--division-color);
}

.today-events-text {
    font-size: 25px;
}

.add-event-popup-calendar, .base-calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.add-event-popup-calendar {
    gap: 6px;
    position: absolute;
    background-color: rgb(200, 250, 250);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid var(--division-color);
    top: 25px;
    left: -18%;
    z-index: 3;
}

.visibility-visible {
    visibility: visible;
}

.visibility-hidden {
    visibility: hidden;
}

.text-color-gray {
    color:rgb(128, 128, 128);
}

.text-color-black {
    color:rgb(0, 0, 0);
}

.add-event-popup-calendar-top, .base-calendar-top {
    display: flex;
    width: 220px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.add-event-popup-calendar-top {
    width: 180px;
}

.add-event-popup-calendar-arrow-left, .add-event-popup-calendar-arrow-right, .base-calendar-arrow-right, .base-calendar-arrow-left {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.add-event-popup-calendar-week-group, .base-calendar-week-group {
    display: flex;
    justify-content: space-evenly;
    width: 220px;
    gap: 10px;
}

.add-event-popup-calendar-week-group {
    width: 180px;
}

.add-event-popup-calendar-week-group {
    gap: 0px;
}

.add-event-popup-calendar-day, .add-event-popup-calendar-week-top-group, .base-calendar-day, .base-calendar-week-top-group {
    font-size: 13px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.add-event-popup-calendar-day, .add-event-popup-calendar-week-top-group {
    font-size: 11px;
    width: 19px;
    height: 19px;
}

.add-event-popup-calendar-day:hover, .add-event-popup-calendar-arrow-left:hover, .add-event-popup-calendar-arrow-right:hover
, .base-calendar-day:hover, .base-calendar-arrow-right:hover, .base-calendar-arrow-left:hover {
    background-color: var(--clickable-background-color);
    cursor: pointer;
}

.date-today {
    background-color: rgb(67, 121, 202);
    color: white;
}

.date-today:hover {
    background-color: rgb(12, 87, 201);
}

.date-highlighted {
    background-color: rgb(160, 198, 255);
}

.date-highlighted:hover {
    background-color: rgb(92, 157, 255);
}

.add-event-popup {
    position: fixed;
    width: 400px;
    height: 540px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(182, 238, 238);
    padding: 30px 15px 15px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px rgb(136, 146, 146, 0.6);
}

.add-event-popup-position {
    top: calc((100% - 585px) / 2);
    left: calc((100% - 430px) / 2);
}

.add-event-popup input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    border-radius: 5px 5px 0px 0px;
    transition: background-color 0.2s, border 0.5s;
}

.add-event-popup input:focus {
    border-bottom: 1px solid rgb(35, 190, 190);
    background-color: rgb(206, 255, 255);
    outline: none;
}

.add-event-popup-move {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 100%;
    background-color: var(--clickable-background-color);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-event-popup-exit {
    margin-right: 20px;
    cursor: pointer;
}

.add-event-popup-move:hover {
    cursor: move;
}

.add-event-popup-title {
    font-size: 25px;
}

.add-event-popup-time {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.add-event-popup-time-sub {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.add-event-popup-time-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.add-event-popup-time-date {
    font-size: 17px;
    width: 140px;
    text-align: center;
}

.add-event-popup-time-time {
    font-size: 17px;
    width: 100px;
    text-align: center;
}

.popup-time-container {
    gap: 6px;
    position: absolute;
    background-color: rgb(200, 250, 250);
    border-radius: 10px;
    border: 1px solid var(--division-color);
    top: 78px;
    left: 15%;
    z-index: 3;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    max-height: 155px;
}

.popup-time {
    margin: 5px 0px;
    max-height: 145px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.popup-time::-webkit-scrollbar, .add-event-popup-description::-webkit-scrollbar {
    width: 5px;
}

.popup-time::-webkit-scrollbar-track, .add-event-popup-description::-webkit-scrollbar-track {
    background: transparent;
}

.popup-time::-webkit-scrollbar-thumb, .add-event-popup-description::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.popup-time-choices {
    padding: 2px;
    text-align: center;
    width: calc(100% - 4px);
    transition: background-color 0.2s;
}

.popup-time-choices:hover {
    background-color: rgb(134, 233, 233);
    cursor: pointer;
}

.add-event-popup-time-container, .add-event-popup-description-container, 
.add-event-popup-color-container, .add-event-popup-location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-event-popup-texts {
    font-size: 14px;
    margin-top: 2px;
}

.add-event-popup-description-menu {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.add-event-popup-description {
    resize: none;
    background-color: transparent;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    align-self: center;
    border: 1px solid black;
    transition: border 0.2s;
    padding: 4px;
}

.add-event-popup-description:focus {
    border: 1px solid rgb(35, 190, 190);
    outline: none;
}

.add-event-popup-description-menu-line {
    height: 4px;
    background-color: black;
    margin-top: 2px;
    border-radius: 3px;
}

.add-event-popup-description-menu-line-1 {
    width: 20px;
}

.add-event-popup-description-menu-line-2 {
    width: 15px;
}

.add-event-popup-description-menu-line-3 {
    width: 10px;
}

.add-event-popup-location {
    font-size: 15px;
    width: 350px;
    align-self: center;
}

.add-event-popup-save {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.color-palate-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 26px;
}

.color-palate-label {
    width: 100px;
}

.color-palate-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: border 0.1s;
}

.hover-black:hover {
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

.hover-white:hover {
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
}

.add-event-popup-button {
    margin-top: 10px;
    padding: 7px;
    border: 2px solid black;
    font-size: 16px;
    transition: background-color 0.2s, border 0.2s;
}

.add-event-popup-button:hover {
    border: 2px solid rgb(35, 190, 190);
    background-color: var(--clickable-background-color);
    cursor: pointer;
}

.add-event-popup-all-day-selection {
    display: flex;
    font-size: 14px;
    gap: 7px;
    align-items: center;
}

.input-incorrect{
    background-color: rgb(238, 118, 118) !important;
}

.input-disabled {
    background-color: rgb(211, 211, 211) !important;
    pointer-events: none;
}

.color-chooser-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color-chooser-main {
    width: 250px;
    max-height: 110px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.color-chooser-container input[type="checkbox"] {
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}

.color-chooser {
    display: flex;
    gap: 10px;
}

.color-chooser-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.color-chooser-label {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 150px;
    font-size: 12.5px;
}

.color-chooser-label:focus {
    outline: none;
}

.color-chooser-introduction {
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.color-chooser-introduction-box {
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    width: 200px;
    align-self: center;
}

.color-chooser-title {
    font-size: 25px;
    margin-bottom: 5px;
}

.color-chooser-checkbox-example {
    pointer-events: none;
}

.color-chooser-checkbox-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}


.calendar-body-month-container {
    width: calc(100vw - 281px);
    min-width: 350px;
    height: calc(100vh - 71px);
    position: absolute;
    top: 71px;
    left: 281px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-body-month {
    position: relative;
    width: 95%;
    height: 95%;
}

.calendar-body-month-week-top-group-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.calendar-body-month-week-group {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10px 25px auto 10px;
    height: calc((100% - 20px) / var(--number-of-weeks));
    width: 100%;
}

.calendar-body-month-week-group-events {
    grid-column: 1 / 8;
    grid-row: 3 / 5;
    display: grid;
    height: auto;
    overflow: hidden;
    align-content: space-between;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 17px;
}

.calendar-body-month-week-top-group-container {
    height: 20px;
    font-size: 13.5px;
}

.calendar-body-month-day-container, .calendar-body-month-week-top-group {
    display: flex;
    width: calc(100% / 7);
    height: 100%;
    text-align: center;
    width: 100%;
}

.calendar-body-month-text {
    width: 100%;
    text-align: center;
}

.calendar-body-month-day-container {
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35px auto;
}

.calendar-body-month-day-values {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar-body-month-divider-line-vertical {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--division-color);
}

.calendar-body-month-divider-line-vertical-0 {
    visibility: hidden;
}

.calendar-body-month-divider-line-horizontal {
    position: absolute;
    background-color: var(--division-color);
    width: 100%;
    height: 1px;
}

.calendar-body-month-day {
    font-size: 14px;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.calendar-body-month-day-events-container {
    position: relative;
    grid-row: 1 / 2;
    width: 94%;
    justify-self: center;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.calendar-body-month-day-events-container::-webkit-scrollbar {
    width: 2px;
}

.calendar-body-month-day-events-container::-webkit-scrollbar-track {
    background: transparent;
}

.calendar-body-month-day-events-container::-webkit-scrollbar-thumb {
    background: var(--division-color);
    border-radius: 4px;
}

.calendar-body-month-day-events {
    position: relative;
    width: 90%;
    display: flex;
    margin-top: 3px;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 11px;
    gap: 4px;
    padding: 3px 0px 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 4px rgb(71, 73, 73);
}

.calendar-body-month-day-events:hover {
    cursor: move;
}

.calendar-body-month-day-events-color {
    width: 10px;
    min-width: 10px;
    height: 10px;
    min-height: 10px;
    border-radius: 50%;
}

.calendar-body-month-day-events-number {
    grid-row: 2 / 3;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    width: 90%;
    height: 14px;
    justify-self: center;
    margin-top: 2px;
}

.calendar-body-month-day-events-number-hover {
    transition: background-color 0.2s;
}

.calendar-body-month-day-events-number-hover:hover {
    background-color: var(--clickable-background-color);
    cursor: pointer;
}

.calendar-body-month-week-events {
    position: relative;
    grid-row: 1 / 2;
    font-size: 12px;
    height: 12px;
    padding: 3px 0px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 10px;
    width: calc(100% - 20px);
    justify-self: center;
    box-shadow: 2px 2px 4px rgb(71, 73, 73);
}

.calendar-body-month-week-events:hover {
    cursor: pointer;
}

.calendar-body-month-week-events-container {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    overflow: hidden;
}

.popup-preview-container {
    position: absolute;
    background-color: rgb(182, 238, 238);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px rgb(136, 146, 146, 0.6);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    max-width: 350px;
    max-height: 200px;
}

.popup-preview-icons:hover {
    cursor: pointer;
}

.popup-preview-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.popup-preview-event {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-preview-event-main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.popup-preview-event-color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.popup-preview-event-main-sub {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    max-width: calc(100% - 35px);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popup-preview-event-title {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup-preview-event-time {
    font-size: 15px;
}

.popup-preview-event-description-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.popup-preview-event-description-notes {
    width: 100%;
    text-align: center;
}

.popup-preview-event-description {
    width: 100%;
    max-height: 55px;
    align-self: center;
    overflow: auto;
}

.popup-preview-event-description-box {
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    max-height: 55px;
    display: flex;
    justify-content: center;
}