/* :root {
    color: rgb(230, 230, 230);
    --body-background-color: rgb(11, 70, 70);
    --division-color: rgb(227, 243, 243);
    --clickable-background-color: rgb(40, 124, 124);
    --clickable-hover-background-color: rgb(20, 160, 160);
    --popup-background-color: rgb(0, 121, 121);
    --box-shadow-color: rgb(31, 31, 31);
    --header-popup-color: rgb(11, 117, 117);
    --border-hover-color: rgb(35, 190, 190);
    --text-color-gray: rgb(173, 173, 173);
    --text-color-black: rgb(230, 230, 230);
    --header-dropdown-color: rgb(20, 104, 104);
    --header-dark-mode-light: rgb(25, 25, 25);
    --header-dark-mode-dark: rgb(230, 230, 230);
    --header-error-color: rgb(224, 40, 40);
    --add-event-popup-background-color: rgb(0, 104, 104);
    --add-event-popup-input-hover: rgb(0, 71, 71);
    --add-event-popup-time-hover: rgb(33, 87, 87);
    --popup-view-all-background-color: rgb(32, 83, 83);
    --border-text-color: rgb(255, 255, 255);
    --date-hover-color: rgb(13, 112, 112);
    --label-disabled-color: rgb(92, 92, 92);
    --add-event-hover-color: rgb(7, 109, 109);
    --add-event-hover-color-day: rgb(12, 172, 172);
    --header-sign-in-text-color: rgb(92, 228, 228);
} */

.svg-fill {
    fill: black;
    transition: fill 0.5s;
}

.svg-fill-dark {
    fill: rgb(230, 230, 230);
    transition: fill 0.5s;
}

.line-fill {
    background-color: black;
    transition: background-color 0.5s;
}

.line-fill-dark {
    background-color: rgb(230, 230, 230);
    transition: background-color 0.5s;
}

:root {
    --body-background-color: rgb(227, 243, 243);
    --division-color: rgb(135, 196, 196);
    --clickable-background-color: rgb(161, 209, 209);
    --clickable-hover-background-color: rgb(108, 180, 180);
    --popup-background-color: rgb(200, 250, 250);
    --box-shadow-color: rgb(71, 73, 73);
    --header-popup-color: rgb(204, 236, 236);
    --border-hover-color: rgb(35, 190, 190);
    --text-color-gray: rgb(128, 128, 128);
    --text-color-black: rgb(0, 0, 0);
    --header-dropdown-color: aliceblue; 
    --header-dark-mode-light: rgb(230, 230, 230);
    --header-dark-mode-dark: rgb(25, 25, 25);
    --header-error-color: rgb(224, 40, 40);
    --add-event-popup-background-color: rgb(182, 238, 238);
    --add-event-popup-input-hover: rgb(206, 255, 255);
    --add-event-popup-time-hover: rgb(134, 233, 233);
    --popup-view-all-background-color: rgb(192, 233, 233);
    --border-text-color: rgb(0, 0, 0);
    --date-hover-color: rgb(160, 198, 255);
    --label-disabled-color: rgb(211, 211, 211);
    --add-event-hover-color: rgb(140, 226, 226);
    --add-event-hover-color-day: rgb(180, 194, 255);
    --header-sign-in-text-color: rgb(0, 99, 99);
    --opposite-text-color: rgb(0, 0, 0);
    --date-hover-hover-color: rgb(92, 157, 255);
}

@media only screen and (max-height: 450px) {
    .add-event-popup {
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media only screen and (min-height: 451px)and (max-height: 660px) {
    .add-event-popup {
        max-height: 350px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media only screen and (min-height: 661px) {
    .add-event-popup {
        border-radius: 20px;
    }

    .add-event-popup-move {
        border-radius: 20px 20px 0px 0px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        overflow: none;
    }

    .header-calendar-container {
        display: none;
    }

    .calendar-header {
        font-size: 16px;
        justify-content: left;
    }

    .header-today {
        margin-left: 20px;
        padding: 10px 5px;
        font-size: 13px;
    }

    .header-description-title {
        display: none;
    }

    .dropdown-main {
        width: 75px;
        height: 35px;
        font-size: 13px;
    }

    .header-signIn-profile-pic {
        display: none;
    }

    .calendar-body-container {
        width: calc(100vw);
        height: calc(100vh - 71px);
        position: absolute;
        top: 71px;
        left: 0px;
    }

    .calendar-menu {
        display: none;
    }

    .add-event {
        left: 10px;
        top: 80px;
        width: 40px;
    }

    .add-event-text {
        display: none;
    }

    .toggle-header-menu-container {
        display: none;
    }

    .add-event-popup {
        width: 250px;
        height: 535px;
    }

    .add-event-popup-time-container svg, .add-event-popup-description-container svg, 
    .add-event-popup-color-container svg, .add-event-popup-location-container svg {
        display: none;
    }

    .add-event-popup-description-menu {
        display: none;
    }

    .add-event-popup-time-date {
        font-size: 14px;
        width: 90px;
    }
    
    .add-event-popup-time-time {
        font-size: 14px;
        width: 60px;
    }

    .add-event-popup-repeat-advanced-settings-text {
        display: none;
    }

    .add-event-popup-repeat-advanced-container {
        top: 35px;
        left: 30px;
    }

    .add-event-popup-repeat-selector {
        top: 33px;
        left: 85px;
    }

    .add-event-popup-description {
        width: 200px;
        height: 40px;
        min-height: 40px;
    }

    .color-palate-container {
        width: 150px;
        align-self: center;
    }

    .add-event-popup-location {
        width: 200px;
    }

    .popup-preview-container {
        min-width: 200px;
        max-width: 200px;
    }

    .header-save-icon, .header-settings-icon, .header-settings-container {
        width: 20px;
        height: 20px;
    }

    .header-save-icon, .header-settings-icon {
        margin-left: 10px;
    }

    .header-signIn-text {
        padding: 7px 2px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 501px) {
    .header-calendar-container {
        display: none;
    }

    .calendar-header {
        font-size: 16px;
    }

    .header-description-title {
        display: none;
    }

    .dropdown-main {
        width: 90px;
        height: 40px;
    }

    .calendar-body-container {
        width: calc(100vw);
        height: calc(100vh - 71px);
        position: absolute;
        top: 71px;
        left: 0px;
    }

    .calendar-menu {
        display: none;
    }

    .add-event {
        left: 10px;
        top: 80px;
        width: 40px;
    }

    .add-event-text {
        display: none;
    }

    .toggle-header-menu-container {
        display: none;
        margin-left: 10px;
    }

    .add-event-popup {
        width: 400px;
        height: 600px;
    }

    .add-event-popup-time-date {
        font-size: 17px;
        width: 140px;
    }
    
    .add-event-popup-time-time {
        font-size: 17px;
        width: 100px;
    }

    .add-event-popup-repeat-advanced-container {
        top: 35px;
        left: 184px;
    }

    .add-event-popup-repeat-selector {
        top: 33px;
        left: 120px;
    }

    .add-event-popup-description {
        width: 350px;
        height: 70px;
        min-height: 70px;
    }

    .add-event-popup-description-menu {
        display: flex;
    }

    .add-event-popup-location {
        width: 350px;
    }

    .popup-preview-container {
        min-width: 200px;
        max-width: 350px;
    }

    .header-save-icon, .header-settings-icon, .header-settings-container {
        width: 25px;
        height: 25px;
    }

    .header-save-icon, .header-settings-icon {
        margin-left: 10px;
    }

    .header-today {
        margin-left: 20px;
        padding: 10px;
    }

    .header-description-container {
        gap: 15px;
        padding: 0px 10px 0px 5px;
    }

    .header-signIn-text {
        padding: 10px;
    }
}

@media only screen and (max-width: 1110px) and (min-width: 701px) {
    .header-calendar-container {
        display: none;
    }

    .calendar-header {
        gap: 5px;
        font-size: 16px;
    }

    .header-description-title {
        font-size: 18px;
    }

    .dropdown-main {
        width: 90px;
        height: 40px;
    }

    .calendar-body-container {
        width: calc(100vw - 281px);
        height: calc(100vh - 71px);
        position: absolute;
        top: 71px;
        left: 281px;
    }

    .calendar-menu {
        display: flex;
    }

    .add-event {
        width: 150px;
        top: 95px;
        left: 70px;
    }

    .toggle-header-menu-container {
        display: flex;
        margin-left: 10px;
    }

    .add-event-popup {
        width: 400px;
        height: 600px;
    }

    .add-event-popup-time-date {
        font-size: 17px;
        width: 140px;
    }
    
    .add-event-popup-time-time {
        font-size: 17px;
        width: 100px;
    }

    .add-event-popup-repeat-advanced-container {
        top: 35px;
        left: 184px;
    }

    .add-event-popup-repeat-selector {
        top: 33px;
        left: 120px;
    }

    .add-event-popup-description {
        width: 350px;
        height: 70px;
        min-height: 70px;
    }

    .add-event-popup-description-menu {
        display: flex;
    }

    .add-event-popup-location {
        width: 350px;
    }

    .popup-preview-container {
        min-width: 200px;
        max-width: 350px;
    }

    .header-save-icon, .header-settings-icon, .header-settings-container {
        width: 25px;
        height: 25px;
    }

    .header-save-icon, .header-settings-icon {
        margin-left: 10px;
    }

    .header-today {
        padding: 10px;
    }

    .header-description-container {
        gap: 15px;
        padding: 0px 10px 0px 5px;
    }

    .header-signIn-text {
        padding: 10px;
    }
}

@media only screen and (min-width: 1111px) {
    .header-calendar-container {
        display: flex;
    }

    .calendar-header {
        gap: 15px;
        font-size: 20px;
    }

    .header-description-title {
        font-size: 23px;
    }

    .dropdown-main {
        width: 120px;
        height: 40px;
    }

    .calendar-body-container {
        width: calc(100vw - 281px);
        height: calc(100vh - 71px);
        position: absolute;
        top: 71px;
        left: 281px;
    }

    .calendar-menu {
        display: flex;
    }

    .add-event {
        width: 150px;
        top: 95px;
        left: 70px;
    }

    .toggle-header-menu-container {
        display: flex;
        margin-left: 20px;
    }

    .add-event-popup {
        width: 400px;
        height: 600px;
    }

    .add-event-popup-time-date {
        font-size: 17px;
        width: 140px;
    }
    
    .add-event-popup-time-time {
        font-size: 17px;
        width: 100px;
    }

    .add-event-popup-repeat-advanced-container {
        top: 35px;
        left: 184px;
    }

    .add-event-popup-repeat-selector {
        top: 33px;
        left: 120px;
    }

    .add-event-popup-description {
        width: 350px;
        height: 70px;
        min-height: 70px;
    }

    .add-event-popup-description-menu {
        display: flex;
    }

    .add-event-popup-location {
        width: 350px;
    }

    .popup-preview-container {
        min-width: 200px;
        max-width: 350px;
    }

    .header-save-icon, .header-settings-icon, .header-settings-container {
        width: 30px;
        height: 30px;
    }

    .header-today {
        padding: 10px;
    }

    .header-description-container {
        gap: 15px;
        padding: 0px 10px 0px 5px;
    }

    .header-signIn-text {
        padding: 10px;
    }
}

html {
    height: 100%;
  }

body {
    background-color: var(--body-background-color);
    width: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

#root {
    min-height: 100vh;
}

.pointerEvents-none {
    pointer-events: none;
}

.calendar-header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--division-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toggle-header-menu-container {
    height: 33px;
    width: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.header-calendar-container {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    height: 70px;
    justify-content: center;
    padding-right: 35px;
}

.header-today {
    background-color: var(--clickable-background-color);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.header-today:hover {
    background-color: var(--clickable-hover-background-color);
}

.header-dropdown-container {
    position: relative;
    z-index: 4;
}

.dropdown-main {
    background-color: var(--clickable-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 5px;
    transition: background-color 0.2s;
}

.dropdown-main-down-arrow {
    margin-top: 5px;
}

.dropdown-main:hover {
    background-color: var(--clickable-hover-background-color);
    cursor: pointer;
}

.header-dropdown-select {
    position: absolute;
    background-color: var(--header-dropdown-color);
    margin-top: 5px;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
}

.header-dropdown-select-options {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.header-dropdown-select-options:hover {
    background-color: var(--header-popup-color);
}

.header-signIn-container {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.toggle-header-menu-line {
    height: 5px;
    width: 30px;
    border-radius: 5px;
}

.header-signIn-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid var(--border-text-color);
}

.header-signIn-text {
    background-color: var(--clickable-background-color);
    border-radius: 15px;
    transition: background-color 0.2s;
    overflow: hidden;
    white-space: nowrap;
}

.header-signIn-text:hover {
    background-color: var(--clickable-hover-background-color);
    cursor: pointer;
}

.header-description-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-description-arrow-left, .header-description-arrow-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    transition: background-color 0.2s;
    padding: 2px;
}

.header-description-arrow-left:hover, .header-description-arrow-right:hover {
    background-color: var(--clickable-hover-background-color);
    cursor: pointer;
}

.header-description-title {
    white-space: nowrap;
}

.header-sign-in-cover {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.header-sign-in-popup-container {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 350px;
    background-color: var(--header-popup-color);
    box-shadow: 2px 2px 4px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-radius: 10px;
}

.header-sign-in-popup-title {
    font-size: 30px;
}

.header-sign-in-popup-form {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.header-sign-in-popup-email-container, .header-sign-in-popup-password-container {
    font-size: 17px;
}

.header-sign-in-popup-email, .header-sign-in-popup-password {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--border-text-color);
    width: 220px;
    height: 25px;
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    color: var(--border-text-color);
}

.header-sign-in-popup-email:focus, .header-sign-in-popup-password:focus {
    border: 1px solid var(--border-hover-color);
    outline: none;
}

.header-sign-in-popup-log-in {
    padding: 5px;
    border: 2px solid var(--border-text-color);
    font-size: 16px;
    width: 230px;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.2s, border 0.2s;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--text-color-black);
}

.header-sign-in-popup-log-in:hover {
    border: 2px solid var(--border-hover-color);
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.header-sign-in-popup-extra {
    display: flex;
    gap: 10px;
    font-size: 15px;
}

.header-sign-in-popup-register:hover, .header-sign-in-popup-forgot-password:hover {
    text-decoration: underline solid;
    color: var(--header-sign-in-text-color);
    cursor: pointer;
}

.header-sign-in-popup-password-text-span {
    font-size: 12px;
}

.header-sign-in-popup-error {
    position: absolute;
    width: 100%;
    background-color: var(--header-error-color);
    height: 25px;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-sign-in-popup-exit {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}

.header-error-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: var(--header-error-color);
    z-index: 10;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.header-error-text {
    color: white;
    margin-left: 10px;
    font-size: 14px;
}

.header-save-icon, .header-settings-icon {
    cursor: pointer;
}

.header-settings-container {
    position: relative;
}

.header-settings {
    width: 140px;
    position: absolute;
    top: 40px;
    left: -55px;
    background-color: var(--header-dropdown-color);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
    transition: background-color 0.5s;
}

.header-settings-dark-mode-container {
    gap: 20px;
}

.header-settings-alerts-container {
    gap: 15px;
}

.header-settings-dark-mode-container, .header-settings-alerts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    transition: background-color 0.5s;
}

.header-settings-dark-mode-text {
    width: 50px;
    font-size: 20px;
}

.header-settings-dark-mode-graphics, .header-settings-alerts-controls {
    background-color: var(--header-dark-mode-light);
    width: 50px;
    height: 25px;
    border-radius: 25px;
    position: relative;
    border: 2px solid var(--header-dark-mode-dark);
    cursor: pointer;
    transition: background-color 0.5s;
}

.header-settings-dark-mode-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    fill: var(--header-dark-mode-dark);
    transition: left 0.5s, fill 0.5s;
    position: absolute;
    left: -1px;
}

.header-settings-dark-mode-day {
    font-size: 18px;
    position: absolute;
    top: 4px;
    fill: var(--header-dark-mode-light);
    left: 2px;
    transition: fill 0.5s;
}

.header-settings-dark-mode-night {
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
}

.header-settings-dark-mode-moon {
    font-size: 18px;
    right: 6px;
    top: 4px;
    position: absolute;
    fill: var(--header-dark-mode-light);
    transition: fill 0.5s;
}

.header-settings-dark-mode-star1 {
    font-size: 4px;
    position: absolute;
    top: 5px;
    right: 5px;
    fill: var(--header-dark-mode-light);
    transition: fill 0.5s;
}

.header-settings-dark-mode-star2 {
    font-size: 6px;
    position: absolute;
    top: 10px;
    right: 2px;
    fill: var(--header-dark-mode-light);
    transition: fill 0.5s;
}

.header-settings-alerts-circle {
    height: 25px;
    width: 25px;
    position: absolute;
    left: 0px;
    fill:rgb(196, 0, 0);
    transition: fill 0.5s;
}

.header-settings-alerts-circle-container {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 25px;
    transition: left 0.5s;
}

.header-settings-alert-circle-text {
    z-index: 1;
    color: white;
    font-size: 12px;
}

.header-settings-alerts-text {
    font-size: 20px;
}

.header-settings-pfp-button, .header-settings-reload-button {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    cursor: pointer;
    font-size: 20px;
}

.header-settings-pfp-button:hover, .header-settings-reload-button:hover, .header-settings-dark-mode-container:hover, .header-settings-alerts-container:hover {
    background-color: var(--header-popup-color);
}

.header-profile-cover {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: auto;
}

.header-profile-container {
    cursor: auto;
    z-index: 1;
    width: 230px;
    height: 380px;
    position: fixed;
    top: calc(50vh - 190px);
    left: calc(50vw - 115px);
    background-color: var(--popup-background-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
}

.header-profile-exit {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 25px;
    cursor: pointer;
}

.header-profile-image-container, .header-profile-bio-container, .header-profile-name-container {
    position: relative;
}

.header-profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--border-text-color);
}

.header-profile-image-edit-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--header-dark-mode-light);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75px;
    left: 75px;
    border: 2px solid var(--border-text-color);
    cursor: pointer;
}

.header-profile-name-edit-circle {
    border-radius: 50%;
    width: 19px;
    height: 19px;
    background-color: var(--header-dark-mode-light);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 90px;
    border: 2px solid var(--border-text-color);
    cursor: pointer;
}

.header-profile-name {
    width: 210px;
    text-align: center;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header-profile-bio-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-profile-bio-edit-circle {
    border-radius: 50%;
    width: 19px;
    height: 19px;
    background-color: var(--header-dark-mode-light);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 158px;
    left: 188px;
    border: 2px solid var(--border-text-color);
    cursor: pointer;
}

.header-profile-bio {
    padding: 7px;
    width: 190px;
    height: 130px;
    border: 2px solid var(--border-text-color);
    border-radius: 20px;
    font-size: 16px;
    position: relative;
}

.header-profile-text {
    height: 127px;
    width: 193px;
    top: 12px;
    position: absolute;
    left: 10px;
    overflow: auto;
}

.header-profile-text::-webkit-scrollbar, .header-bio-change-input::-webkit-scrollbar {
    width: 5px;
}

.header-profile-text::-webkit-scrollbar-track, .header-bio-change-input::-webkit-scrollbar-track {
    background: transparent;
}

.header-profile-text::-webkit-scrollbar-thumb, .header-bio-change-input::-webkit-scrollbar-thumb {
    background: var(--clickable-hover-background-color);
    border-radius: 4px;
}

.header-pfp-exit {
    /* position: absolute;
    top: 5px;
    right: 10px; */
    height: 25px;
    cursor: pointer;
}

.header-pfp-change-cover {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.header-pfp-change-container {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--popup-background-color);
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.header-pfp-exit {
    position: absolute;
    width: 15px;
    right: 10px;
    top: 2px;
}

.header-pfp-change-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.header-pfp-change-submit {
    padding: 5px;
    border: 2px solid var(--border-text-color);
    cursor: pointer;
    transition: border 0.2s, background-color 0.2s;
    background-color: transparent;
    font-size: 20px;
    width: 100px;
    color: var(--text-color-black);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-pfp-change-submit:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid var(--border-hover-color);
}

.header-pfp-change-input {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid var(--border-text-color);
    width: 220px;
    height: 20px;
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    color: var(--border-text-color);
}

.header-pfp-change-input:focus {
    border: 2px solid var(--border-hover-color);
    background-color: var(--add-event-popup-input-hover);
    outline: none;
}

.header-bio-change-input {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid var(--border-text-color);
    width: 220px;
    height: 200px;
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    resize: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--border-text-color);
}





.calendar-menu {
    width: 280px;
    overflow: auto;
    height: calc(100vh - 81px);
    position: absolute;
    border-right: 1px solid var(--division-color);
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
}

.calendar-menu-spacer {
    width: 100%;
    height: 75px;
    min-height: 75px;
}

.calendar-menu-scroll {
    overflow: auto;
    height: 100%;
    width: 100%;
    border-right: 1px solid var(--division-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow-x: hidden;
}

.add-event {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 25px;
    background-color: var(--clickable-background-color);
    transition: background-color 0.5s, border-radius 0.5s, width 0.5s, left 0.5s ease-in-out, top 0.5s ease-in-out;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    z-index: 3;
}

.calendar-menu-divider-line {
    width: 100%;
    height: 1px;
    min-height: 1px;
    background-color: var(--division-color);
}

.add-event:hover {
    background-color: var(--clickable-hover-background-color);
}

.add-event-add-sign {
    padding: 0;
    margin-top: 4px;
}

.today-events-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.today-events {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 245px;
    min-height: 30px;
    max-height: 133px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
}

.today-events::-webkit-scrollbar, .color-chooser-main::-webkit-scrollbar, .calendar-menu-scroll::-webkit-scrollbar, .popup-preview-event-description::-webkit-scrollbar, .popup-view-all-events-container::-webkit-scrollbar, .calendar-body-month-container::-webkit-scrollbar {
    width: 5px;
}

.today-events::-webkit-scrollbar-track, .color-chooser-main::-webkit-scrollbar-track, .calendar-menu-scroll::-webkit-scrollbar-track, .popup-preview-event-description::-webkit-scrollbar-track, .popup-view-all-events-container::-webkit-scrollbar-track, .calendar-body-month-container::-webkit-scrollbar-track {
    background: transparent;
}

.today-events::-webkit-scrollbar-thumb, .color-chooser-main::-webkit-scrollbar-thumb, .calendar-menu-scroll::-webkit-scrollbar-thumb, .popup-preview-event-description::-webkit-scrollbar-thumb, .popup-view-all-events-container::-webkit-scrollbar-thumb, .calendar-body-month-container::-webkit-scrollbar-thumb {
    background: var(--clickable-hover-background-color);
    border-radius: 4px;
}

.today-events-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    white-space: nowrap;
    width: 240px;
    font-size: 15px;
}

.today-events-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.today-events-item-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.today-events-item-name {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.today-events-divider-line {
    width: 240px;
    height: 1px;
    background-color: var(--division-color);
}

.today-events-text {
    font-size: 25px;
}

.add-event-popup-calendar, .base-calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.add-event-popup-calendar {
    gap: 6px;
    position: absolute;
    background-color: var(--popup-background-color);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid var(--division-color);
    top: 25px;
    left: -18%;
    z-index: 3;
}

.visibility-visible {
    visibility: visible;
}

.visibility-hidden {
    visibility: hidden;
}

.text-color-gray {
    color: var(--text-color-gray);
}

.text-color-black {
    color:var(--text-color-black);
}

.add-event-popup-calendar-top, .base-calendar-top {
    display: flex;
    width: 220px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.add-event-popup-calendar-top {
    width: 180px;
}

.add-event-popup-calendar-arrow-left, .add-event-popup-calendar-arrow-right, .base-calendar-arrow-right, .base-calendar-arrow-left {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.base-calendar-title-month {
    cursor: pointer;
}

.base-calendar-title-month:hover {
    text-decoration: underline;
}

.base-calendar-title-year {
    cursor: pointer;
}

.base-calendar-title-year:hover {
    text-decoration: underline;
}

.add-event-popup-calendar-week-group, .base-calendar-week-group {
    display: flex;
    justify-content: space-evenly;
    width: 220px;
    gap: 10px;
}

.add-event-popup-calendar-week-group {
    width: 180px;
}

.add-event-popup-calendar-week-group {
    gap: 0px;
}

.add-event-popup-calendar-day, .add-event-popup-calendar-week-top-group, .base-calendar-day, .base-calendar-week-top-group {
    font-size: 13px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.add-event-popup-calendar-day, .add-event-popup-calendar-week-top-group {
    font-size: 11px;
    width: 19px;
    height: 19px;
}

.add-event-popup-calendar-day:hover {
    background-color: var(--add-event-hover-color-day);
    cursor: pointer;
}

.add-event-popup-calendar-arrow-left:hover, .add-event-popup-calendar-arrow-right:hover
, .base-calendar-day:hover, .base-calendar-arrow-right:hover, .base-calendar-arrow-left:hover {
    background-color: var(--add-event-hover-color);
    cursor: pointer;
}

.date-today {
    background-color: rgb(67, 121, 202);
    color: white;
}

.date-today:hover {
    background-color: rgb(12, 87, 201);
}

.date-highlighted {
    background-color: var(--date-hover-color);
}

.date-highlighted:hover {
    background-color: var(--date-hover-hover-color);
}

.add-event-popup-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-event-popup {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--add-event-popup-background-color);
    padding: 30px 15px 30px 15px;
    box-shadow: 0px 0px 20px 2px var(--box-shadow-color);
    transition: background-color 0.5s;
}

.add-event-popup::-webkit-scrollbar {
    width: 5px;
}

.add-event-popup::-webkit-scrollbar-track {
    background: transparent;
}

.add-event-popup::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.add-event-popup input {
    border: none;
    border-bottom: 1px solid var(--border-text-color);
    background-color: transparent;
    border-radius: 5px 5px 0px 0px;
    color: var(--border-text-color);
    transition: background-color 0.2s, border 0.5s;
}

.add-event-popup input::placeholder {
    color: var(--text-color-gray);
}

.add-event-popup input:focus {
    border-bottom: 1px solid var(--border-hover-color);
    background-color: var(--add-event-popup-input-hover);
    outline: none;
}

.add-event-popup-move {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 100%;
    background-color: var(--clickable-background-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: background-color 0.5s;
}

.add-event-popup-exit {
    margin-right: 20px;
    cursor: pointer;
}

.add-event-popup-move:hover {
    cursor: move;
}

.add-event-popup-title {
    font-size: 25px;
}

.add-event-popup-time {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.add-event-popup-time-sub {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.add-event-popup-time-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.add-event-popup-time-date {
    text-align: center;
}

.add-event-popup-time-time {
    text-align: center;
}

.popup-time-container {
    gap: 6px;
    position: absolute;
    background-color: var(--popup-background-color);
    border-radius: 10px;
    border: 1px solid var(--division-color);
    top: 78px;
    left: 15%;
    z-index: 4;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    max-height: 155px;
}

.popup-time {
    margin: 5px 0px;
    max-height: 145px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.popup-time::-webkit-scrollbar, .add-event-popup-description::-webkit-scrollbar {
    width: 5px;
}

.popup-time::-webkit-scrollbar-track, .add-event-popup-description::-webkit-scrollbar-track {
    background: transparent;
}

.popup-time::-webkit-scrollbar-thumb, .add-event-popup-description::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.popup-time-choices {
    padding: 2px;
    text-align: center;
    width: calc(100% - 4px);
    transition: background-color 0.2s;
}

.popup-time-choices:hover {
    background-color: var(--add-event-popup-time-hover);
    cursor: pointer;
}

.add-event-popup-time-container, .add-event-popup-description-container, 
.add-event-popup-color-container, .add-event-popup-location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-event-popup-texts {
    font-size: 14px;
    margin-top: 2px;
}

.add-event-popup-description-menu {
    width: 20px;
    height: 20px;
    flex-direction: column;
}

.add-event-popup-description {
    resize: none;
    background-color: transparent;
    border-radius: 10px;
    align-self: center;
    border: 1px solid var(--border-text-color);
    transition: border 0.2s;
    color: var(--text-color-black);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4px;
}

.add-event-popup-description:focus {
    border: 1px solid var(--border-hover-color);
    outline: none;
}

.add-event-popup-description-menu-line {
    height: 4px;
    margin-top: 2px;
    border-radius: 3px;
}

.add-event-popup-description-menu-line-1 {
    width: 20px;
}

.add-event-popup-description-menu-line-2 {
    width: 15px;
}

.add-event-popup-description-menu-line-3 {
    width: 10px;
}

.add-event-popup-location {
    font-size: 15px;
    align-self: center;
}

.add-event-popup-save {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.color-palate-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.color-palate {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-palate-label {
    width: 100px;
}

.color-palate-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: border 0.1s;
}

.hover-black:hover {
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

.hover-white:hover {
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
}

.add-event-popup-button {
    margin-top: 10px;
    padding: 7px;
    border: 2px solid var(--border-text-color);
    font-size: 16px;
    transition: background-color 0.2s, border 0.2s;
}

.add-event-popup-button:hover {
    border: 2px solid var(--border-hover-color);
    background-color: var(--clickable-background-color);
    cursor: pointer;
}

.add-event-popup-all-day-selection {
    display: flex;
    font-size: 14px;
    gap: 7px;
    align-items: center;
}

.input-incorrect{
    background-color: rgb(238, 118, 118) !important;
}

.input-disabled {
    background-color: var(--label-disabled-color) !important;
    pointer-events: none;
}

.color-chooser-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color-chooser-main {
    width: 250px;
    max-height: 110px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.color-chooser-container input[type="checkbox"] {
    padding: 0px;
    margin: 0px;
    border: 1px solid var(--border-text-color);
}

.color-chooser {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-chooser-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.color-chooser-label {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-text-color);
    width: 150px;
    font-size: 12.5px;
    border-radius: 5px 5px 0px 0px;
    color: var(--text-color-black);
}

.color-chooser-label::placeholder {
    color: var(--text-color-gray);
}

.color-chooser-label:focus {
    outline: none;
}

.color-chooser-label:disabled {
    color: black;
    background-color: var(--label-disabled-color);
}

.color-chooser-lock {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.color-chooser-lock-svg {
    transition: fill 0.3s;
}

.color-chooser-lock-black {
    background-color: black;
}

.color-chooser-introduction {
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.color-chooser-introduction-box {
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--border-text-color);
    padding: 5px;
    border-radius: 20px;
    width: 200px;
    align-self: center;
}

.color-chooser-title {
    font-size: 25px;
    margin-bottom: 5px;
}

.color-chooser-checkbox-example {
    pointer-events: none;
}

.color-chooser-checkbox-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.add-event-popup-repeat {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.add-event-popup-repeat-main-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-event-popup-repeat-title {
    font-size: 16px;
}

.add-event-popup-repeat-main, .add-event-popup-repeat-advanced-settings, .add-event-popup-repeat-advanced-main {
    display: flex;
    gap: 10px;
    padding: 5px;
    border: 1px solid var(--border-text-color);
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
}

.add-event-popup-repeat-main {
    display: flex;
    justify-content: space-around;
    min-width: 80px;
}

.add-event-popup-repeat-selector, .add-event-popup-repeat-advanced-selector {
    position: absolute;
    background-color: var(--popup-background-color);
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--division-color);
    width: 110px;
}

.add-event-popup-repeat-advanced-selector {
    top: 87px;
    left: 92px;
}

.add-event-popup-repeat-selector-option, .add-event-popup-repeat-advanced-selector-option {
    padding: 3px 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.add-event-popup-repeat-selector-option:hover, .add-event-popup-repeat-advanced-selector-option:hover {
    background-color: var(--clickable-hover-background-color);
}

.add-event-popup-repeat-advanced-container {
    position: absolute;
    background-color: var(--popup-background-color);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
    text-align: center;
}

.add-event-popup-repeat-advanced-container input:invalid {
    background-color: rgb(238, 118, 118) !important;
}

.add-event-popup-repeat-advanced-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.add-event-popup-repeat-advanced-title {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 4px;
}

.add-event-popup-repeat-advanced-main-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.add-event-popup-repeat-advanced-input {
    width: 50px;
    height: auto;
    font-size: 20px;
}

.add-event-popup-repeat-advanced-main-name {
    width: 40px;
}

.add-event-popup-repeat-advanced-limit {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-event-popup-repeat-advanced-limit-option {
    display: flex;
    gap: 10px;
}

.add-event-popup-repeat-advanced-limit-option-on-date-input {
    width: 100px;
}

.add-event-popup-repeat-advanced-limit-option-after-iterations-input {
    width: 35px;
}

.add-event-popup-repeat-advanced-save {
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.add-event-popup-repeat-advanced-button {
    padding: 4px;
    border: 2px solid var(--border-text-color);
    font-size: 16px;
    transition: background-color 0.2s, border 0.2s;
    cursor: pointer;
}

.add-event-popup-repeat-advanced-button:hover {
    border: 2px solid var(--border-hover-color);
    background-color: var(--clickable-background-color);
    cursor: pointer;
}

.add-event-popup-repeat-optional-week-not-visible {
    display: none !important;
}

.add-event-popup-repeat-optional-week {
    display: flex;
    gap: 4px;
    align-self: center;
    padding: 10px;
}

.add-event-popup-repeat-advanced-week-day {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-event-popup-repeat-advanced-week-day-clicked {
    background-color: var(--add-event-popup-time-hover);
}



.calendar-body-month-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.calendar-body-month {
    position: relative;
    width: 95%;
    height: 95%;
    user-select: none;
}

.calendar-body-month-week-top-group-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.calendar-body-month-week-group-container {
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

.calendar-body-month-week-group {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10px 25px auto 10px;
    height: 100%;
    width: 100%;
}

.calendar-body-month-week-group-events {
    grid-column: 1 / 8;
    grid-row: 3 / 5;
    display: grid;
    height: auto;
    overflow: hidden;
    align-content: space-between;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 17px;
}

.calendar-body-month-week-top-group-container {
    height: 20px;
    font-size: 13.5px;
}

.calendar-body-month-day-container, .calendar-body-month-week-top-group {
    display: flex;
    height: 100%;
    text-align: center;
    width: 100%;
}

.calendar-body-month-text {
    width: 100%;
    text-align: center;
    user-select: none;
}

.calendar-body-month-day-container {
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35px auto;
}

.calendar-body-month-day-values {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.calendar-body-month-divider-line-vertical {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--division-color);
}

.calendar-body-month-divider-line-vertical-0 {
    visibility: hidden;
}

.calendar-body-month-divider-line-horizontal {
    position: absolute;
    background-color: var(--division-color);
    width: 100%;
    height: 1px;
}

.calendar-body-month-day {
    font-size: 14px;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.calendar-body-month-day:hover:not(.date-today) {
    background-color: var(--date-hover-color);
}

.calendar-body-month-day-events-container {
    position: relative;
    grid-row: 1 / 2;
    width: 94%;
    justify-self: center;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.calendar-body-month-day-events-container::-webkit-scrollbar {
    width: 2px;
}

.calendar-body-month-day-events-container::-webkit-scrollbar-track {
    background: transparent;
}

.calendar-body-month-day-events-container::-webkit-scrollbar-thumb {
    background: var(--division-color);
    border-radius: 4px;
}

.calendar-body-month-day-events-time {
    user-select: none;
    pointer-events: none;
}

.calendar-body-month-day-events-title {
    user-select: none;
    pointer-events: none;
}

.calendar-body-month-day-events {
    position: relative;
    width: 90%;
    display: flex;
    margin-top: 3px;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 11px;
    gap: 4px;
    padding: 3px 0px 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
}

.calendar-body-month-day-events:hover {
    cursor: move;
}

.calendar-body-month-day-events-color {
    width: 10px;
    min-width: 10px;
    height: 10px;
    min-height: 10px;
    border-radius: 50%;
}

.calendar-body-month-day-events-number {
    grid-row: 2 / 3;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    width: 90%;
    height: 14px;
    justify-self: center;
    margin-top: 2px;
    transition: background-color 0.2s;
    cursor: pointer;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
}

.calendar-body-month-day-events-number:hover {
    background-color: var(--clickable-background-color);
}

.calendar-body-month-week-events {
    position: relative;
    grid-row: 1 / 2;
    font-size: 12px;
    height: 12px;
    padding: 3px 0px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 10px;
    width: calc(100% - 20px);
    justify-self: center;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
}

.calendar-body-month-week-events:hover {
    cursor: pointer;
}

.calendar-body-month-week-events-container {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    overflow: hidden;
}

.popup-preview-container {
    position: absolute;
    background-color: var(--add-event-popup-background-color);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 200px;
    z-index: 3;
}

.popup-preview-icons {
    fill: var(--opposite-text-color);
}

.popup-preview-icons:hover {
    cursor: pointer;
}

.popup-preview-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.popup-preview-event {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-preview-event-main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.popup-preview-event-color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.popup-preview-event-main-sub {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    max-width: calc(100% - 35px);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popup-preview-event-title {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup-preview-event-time {
    font-size: 15px;
    white-space: initial;
    max-height: 40px;
}

.popup-preview-event-description-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.popup-preview-event-description-notes {
    width: 100%;
    text-align: center;
}

.popup-preview-event-description {
    width: 100%;
    max-height: 55px;
    align-self: center;
    overflow: auto;
}

.popup-preview-event-description-box {
    padding: 5px;
    border: 1px solid var(--border-text-color);
    border-radius: 15px;
    max-height: 55px;
    display: flex;
    justify-content: center;
}

.popup-view-all-container {
    background-color: white;
    max-height: 50vh;
    width: calc(100% / 7);
    min-width: 100px;
    position: absolute;
    /* transform: translateX(-50%) translateY(-50%); */
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 7px;
    background-color: var(--popup-view-all-background-color);
    border-radius: 10px;
}

.popup-view-all-exit-button {
    top: 5px;
    right: 5px;
    position: absolute;
    width: 20px;
    height: 20px;
    align-self: flex-end;
    cursor: pointer;
}

.popup-view-all-title-container, .popup-view-all-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.popup-view-all-title-container {
    gap: 3px;
}

.popup-view-all-weekday {
    text-align: center;
    font-size: 14px;
    color: var(--text-color-gray);
}

.popup-view-all-month {
    font-size: 17px;
}

.popup-view-all-day {
    font-size: 30px;
}

.popup-view-all-events-container {
    gap: 3px;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

.popup-view-all-events {
    margin-top: 2px;
    font-size: 12px;
    height: 12px;
    padding: 3px 0px;
    padding-left: 4px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: hidden;
    border-radius: 10px;
    align-self: center;
    width: calc(100% - 6px);
    cursor: pointer;
}

.popup-view-all-events-time, .popup-view-all-events-title {
    pointer-events: none;
}